@use '~styles/colors' as colors;

.popup-window {
  position: absolute;
  top: 6.5rem;
  right: 3rem;
  background-color: colors.$interface-background;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 10px;
  z-index: 999;


  &__cross {
    position: absolute;
    height: 25px;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  &__cross:hover {
    height: 27px;
    right: 14px;
    top: 14px;
  }
}

.popup-window > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width < 600px) {
  .popup-window {
    max-width: 95vw;
    right: 2.5vw;
    top: 5rem;
    box-sizing: border-box;
  }
}