@use '~styles/colors' as colors;

.settings {
  position: absolute;
  top: 6.5rem;
  right: 3rem;
  background-color: colors.$interface-background;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 10px;
  z-index: 999;

  &__label {
    color: colors.$text-title
  }

  &__cross {
    position: absolute;
    height: 25px;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  &__cross:hover {
    height: 27px;
    right: 14px;
    top: 14px;
  }
}

.settings > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}